<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd

        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
  
  <context:annotation-config/>
  <context:component-scan base-package="org.starterapp" />
    
  <bean id="authSecurityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <!-- Single realm app.  If you have multiple realms, use the 'realms' property instead. -->
    <!-- Custom Realm defined in org.starterapp.auth.shiro package -->
    <property name="realms">
      <list>
        <ref bean="JDOUsernamePasswordRealm" />
      </list>
    </property>
  </bean>
  
  <bean id="apiSecurityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <!-- Single realm app.  If you have multiple realms, use the 'realms' property instead. -->
    <property name="realms">
      <list>
        <ref bean="JDOJwtRealm" />
      </list>
    </property>
  </bean>
  
  <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
    
  <bean id="authShiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="authSecurityManager" />
    <property name="filters">
      <util:map>
        <entry key="appRole" value-ref="RoleAuthzFilter" />
      </util:map>
    </property>
    <property name="filterChainDefinitions">
      <value>        
        /api/authentication = anon, noSessionCreation
        /ui/** = anon
        /notifications = anon
        /api/registration/** = anon
      </value>
    </property>
  </bean>
  
  <bean id="apiShiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="apiSecurityManager" />
    <property name="filters">
      <util:map>
        <entry key="appRole" value-ref="RoleAuthzFilter" />
        <entry key="authcToken" value-ref="JWTTokenAuthcFilter" />
      </util:map>
    </property>
    <property name="filterChainDefinitions">
      <value>
        /api/users/** = noSessionCreation, authcToken, appRole[superuser, appuser], rest[users]
      </value>
    </property>
  </bean>
</beans>